<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css" rel="stylesheet" type="text/css">
	    <link rel="stylesheet" type="text/css" href="./styles/main.css">
		<title>Blog</title>
	</head>
	<body>
		<div class="ui four item inverted menu">
			<a class="red item" href="/blogs"><i class="anchor icon"></i></a>
			<a class="item" href="/blogs">Home</a>
			<a class="item" href="/blogs/new">New Blog</a>
			<div class="fitted ui icon  input">
				<input type="text" placeholder="Search blog">
				<i class="search link icon"></i>
			</div>
		</div>

